body {
	/* background-color: lavenderblush; */
}

aside {
	/* background-color: pink;
	border: 3px dotted purple; */
}
/*
#header-application {
	background-color: pink;
	color: blue;
}

#header-application nav {
	background-color: transparent !important;
}

#header-application nav a {
	color: blue;
} */
