// header styles */
header {
	padding-bottom: 15px;
}

#header-main {
	// background: rgba(0, 68, 136, 0.7);
	background: rgba(0, 68, 136, 1);

	&.alt {
		background: $shuBlue;
	}

	.logo {
		color: $white;
		float: left;
		margin: 15px 0 18px 18px;
		position: relative;
		text-transform: uppercase;
		z-index: 100;

		a {
		color: $white;
		display: inline-block;
			vertical-align: top;
		}

		img {
			display: block;
		}

		@media only screen and (max-width: 941px) {
			float: none;
			display: block;
			padding: 18px 20px;
			margin: 0;
		}
	}

	nav {

		.nav-link {
			color: $white;
			font-size: rem-calc(23);
			line-height: rem-calc(28);
			// margin: 0 0 34px 0;
			// padding: 0 17px 30px;
		}
	}
}

// page logo styles */
.project {
	.logo {
		img {
			max-width: 300px;
			max-height: 75px;
			display: block;
			@media only screen and (max-width: 941px) {
				max-width: 100%;
				max-height: 100%;
				// padding: 15px 10px 0;
			}
		}
	}
}

#header-application {
	background-color: $shuBlueDark;
	color: $white;

	nav {
		background-color: inherit;
	}
}
